/* ***** ----------------------------------------------- ***** **
** ***** Settings/Colors
** ***** ----------------------------------------------- ***** */


/* ***** Colors
** ***** ----------------------------------------------- ***** */

$colors: (
	white: (
		class: "white",
		value: #fff
	),
	black: (
		class: "black",
		value: #000
	),
	grey-dark--2: (
		class: "grey_dark--2",
		value: #222
	),
	grey-dark--3: (
		class: "grey_dark--3",
		value: #333
	),
	grey-dark--4: (
		class: "grey_dark--4",
		value: #444
	),
	grey-dark--5: (
		class: "grey_dark--5",
		value: #555
	),
	grey-dark--6: (
		class: "grey_dark--6",
		value: #666
	),
	grey-light--a: (
		class: "grey_light--a",
		value: #aaa
	),
	grey-light--c: (
		class: "grey_light--c",
		value: #ccc
	)
);


/* ***** Settings
** ***** ----------------------------------------------- ***** */

// Selection
$selection-background-color: map-deep-get($colors, grey-light--a, value);
$selection-text-color: map-deep-get($colors, white, value);

// Background
$root-background-color: map-deep-get($colors, grey-dark--2, value);

// Text
$body-text-color: map-deep-get($colors, grey-light--c, value);

$link-text-color: map-deep-get($colors, grey-light--a, value);
$link-hover-text-color: map-deep-get($colors, grey-dark--6, value);
$link-active-text-color: map-deep-get($colors, grey-light--a, value);
