/* ***** ----------------------------------------------- ***** **
** ***** Settings/Colors
** ***** ----------------------------------------------- ***** */

$colors: (
  'transparent': transparent,
  'white': #fff,
  'black': #000,
  'greyDark1': #111,
  'greyDark2': #222,
  'greyDark3': #333,
  'greyDark4': #444,
  'greyDark5': #555,
  'greyDark6': #666,
  'greyLightA': #aaa,
  'greyLightC': #ccc
);

// Selection
$selectionBackgroundColor: get-color('greyLightA');
$selectionTextColor: get-color('white');

// Background
$rootBackgroundColor: get-color('greyDark2');

// Text
$bodyTextColor: get-color('greyLightA');

$linkColor: get-color('greyLightC');
$linkHoverColor: get-color('greyDark6');
$linkActiveColor: get-color('greyLightC');
