/* ***** ----------------------------------------------- ***** **
** ***** Settings/Layout
** ***** ----------------------------------------------- ***** */

/* ***** Breakpoints
** ***** ----------------------------------------------- ***** */

$breakpoints: (
  xs: 480px,
  sm: 768px,
  md: 1024px,
  lg: 1280px,
  xl: 1440px,
  xxl: 1800px
);


/* ***** Content
** ***** ----------------------------------------------- ***** */

$contentGutter: get-size(30);
$contentGutterDesktop: get-size(50, true);
