/* ***** ----------------------------------------------- ***** **
** ***** Settings/Layout
** ***** ----------------------------------------------- ***** */

/* ***** Breakpoints
** ***** ----------------------------------------------- ***** */

$breakpoints: (
  xs: 480px,
  sm: 768px,
  md: 900px,
  lg: 1100px,
  xl: 1300px,
  xxl: 1800px
);


/* ***** Content
** ***** ----------------------------------------------- ***** */

$contentGutter: get-size(30);
$contentGutterDesktop: get-size(50, true);
