/* ***** ----------------------------------------------- ***** **
** ***** Settings/Typography
** ***** ----------------------------------------------- ***** */


/* ***** Imports
** ***** ----------------------------------------------- ***** */

// Montserrat
@include font-face("Montserrat", "montserrat-light-webfont", 200);
@include font-face("Montserrat", "montserrat-regular-webfont");
@include font-face("Montserrat", "montserrat-bold-webfont", 700);
@include font-face("Montserrat", "montserrat-black-webfont", 800);

// Open Sans
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");


/* ***** Settings
** ***** ----------------------------------------------- ***** */

// Font Families
$font-family-fallback: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-primary: "Montserrat", $font-family-fallback;
$font-family-secondary: "Open Sans", $font-family-fallback;

// Font globals
$font-family-body: $font-family-secondary;
$font-family-heading: $font-family-primary;

// Font Sizes
$font-size-base: 62.5%;

$font-size-normal: to-vw(14, $mobile-ratio-width);
$font-size-normal--medium-up: to-vw(18, $desktop-ratio-width);

$font-size-h1: to-vw(36, $mobile-ratio-width);
$font-size-h2: to-vw(30, $mobile-ratio-width);
$font-size-h3: to-vw(24, $mobile-ratio-width);
$font-size-h4: to-vw(18, $mobile-ratio-width);
$font-size-h5: to-vw(14, $mobile-ratio-width);
$font-size-h6: to-vw(12, $mobile-ratio-width);

$font-size-h1--medium-up: to-vw(46, $desktop-ratio-width);
$font-size-h2--medium-up: to-vw(36, $desktop-ratio-width);
$font-size-h3--medium-up: to-vw(28, $desktop-ratio-width);
$font-size-h4--medium-up: to-vw(22, $desktop-ratio-width);
$font-size-h5--medium-up: to-vw(18, $desktop-ratio-width);
$font-size-h6--medium-up: to-vw(14, $desktop-ratio-width);

// Font Weights
$font-weight: (
	light: (
		class: "light",
		value: 200
	),
	normal: (
		class: "normal",
		value: 400
	),
	semi-bold: (
		class: "semi_bold",
		value: 600
	),
	bold: (
		class: "bold",
		value: 600
	),
	black: (
		class: "black",
		value: 800
	)
);

// Letter Spacing
$letter-spacing: (
	tight: (
		class: "letter_tight",
		value: -0.1rem
	),
	normal: (
		class: "letter_normal",
		value: normal
	),
	loose: (
		class: "letter_loose",
		value: 0.1rem
	),
);

// Line Height
$line-height: (
	tight: (
		class: "line_tight",
		value: 1
	),
	normal: (
		class: "line_normal",
		value: 1.4
	),
	loose: (
		class: "line_loose",
		value: 1.8
	),
);
