/* ***** ----------------------------------------------- ***** **
** ***** Settings/Z-Index
** ***** ----------------------------------------------- ***** */


$z-index: (
	below: (
		class: "z_below",
		value: -1
	),
	0: (
		class: "z_0",
		value: 100
	),
	1: (
		class: "z_1",
		value: 100
	),
	2: (
		class: "z_2",
		value: 200
	),
	3: (
		class: "z_3",
		value: 300
	),
	4: (
		class: "z_4",
		value: 400
	),
	5: (
		class: "z_5",
		value: 500
	),
	6: (
		class: "z_6",
		value: 600
	),
	7: (
		class: "z_7",
		value: 700
	),
	8: (
		class: "z_8",
		value: 800
	),
	9: (
		class: "z_9",
		value: 100
	),
	10: (
		class: "z_10",
		value: 1000
	)
);
