/* ***** ----------------------------------------------- ***** **
** ***** Global/Mixins
** ***** ----------------------------------------------- ***** */


/* ***** Type
** ***** ----------------------------------------------- ***** */

// Font face
@mixin font-face($name, $file, $weight) {
	@font-face {
		font-family: $name;
		font-style: normal;
		font-weight: $weight;
		src: url("../fonts/#{$file}.eot");
		src:
			url("../fonts/#{$file}.woff2") format("woff2"),
			url("../fonts/#{$file}.woff") format("woff"),
			url("../fonts/#{$file}.ttf") format("truetype"),
			url("../fonts/#{$file}.svg##{$file}") format("svg");
	}
}

// Text Ellipsis
@mixin text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// Placeholder text
@mixin placeholder($color) {
	&::-webkit-input-placeholder {
		color: $color;
	}

	&::-moz-placeholder {
		color: $color;
	}

	&:-ms-input-placeholder {
		color: $color;
	}

	&:-moz-placeholder {
		color: $color;
	}
}


/* ***** Layout
** ***** ----------------------------------------------- ***** */

// Media query
@mixin mq($breakpoint) {
	@media (min-width: $breakpoint) {
		@content;
	}
}

// Clearfix
@mixin clearfix {
	&::before,
	&::after {
		content: "";
		display: table;
	}

	&::after {
		clear: both;
	}
}

// Center horizontally
@mixin horizontal-center {
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}

// Center vertically
@mixin vertical-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

// Center horizontally and vertically
@mixin absolute-center {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

// Cover the entire element
@mixin full-cover {
	bottom: 0;
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}


/* ***** Transition
** ***** ----------------------------------------------- ***** */

// All
@mixin transition-all-slower {
	transition: all $transition-speed-slower;
}

@mixin transition-all-slow {
	transition: all $transition-speed-slow;
}

@mixin transition-all-normal {
	transition: all $transition-speed-normal;
}

@mixin transition-all-fast {
	transition: all $transition-speed-fast;
}

@mixin transition-all-faster {
	transition: all $transition-speed-faster;
}

// Color
@mixin transition-color-slower {
	transition: color $transition-speed-slower;
}

@mixin transition-color-slow {
	transition: color $transition-speed-slow;
}

@mixin transition-color-normal {
	transition: color $transition-speed-normal;
}

@mixin transition-color-fast {
	transition: color $transition-speed-fast;
}

@mixin transition-color-faster {
	transition: color $transition-speed-faster;
}

// Background Color
@mixin transition-background-color-slower {
	transition: background-color $transition-speed-slower;
}

@mixin transition-background-color-slow {
	transition: background-color $transition-speed-slow;
}

@mixin transition-background-color-normal {
	transition: background-color $transition-speed-normal;
}

@mixin transition-background-color-fast {
	transition: background-color $transition-speed-fast;
}

@mixin transition-background-color-faster {
	transition: background-color $transition-speed-faster;
}

// Opacity
@mixin transition-opacity-slower {
	transition: opacity $transition-speed-slower;
}

@mixin transition-opacity-slow {
	transition: opacity $transition-speed-slow;
}

@mixin transition-opacity-normal {
	transition: opacity $transition-speed-normal;
}

@mixin transition-opacity-fast {
	transition: opacity $transition-speed-fast;
}

@mixin transition-opacity-faster {
	transition: opacity $transition-speed-faster;
}

// Transform
@mixin transition-transform-slower {
	transition: transform $transition-speed-slower;
}

@mixin transition-transform-slow {
	transition: transform $transition-speed-slow;
}

@mixin transition-transform-normal {
	transition: transform $transition-speed-normal;
}

@mixin transition-transform-fast {
	transition: transform $transition-speed-fast;
}

@mixin transition-transform-faster {
	transition: transform $transition-speed-faster;
}


/* ***** Background
** ***** ----------------------------------------------- ***** */

// Ensure background image covers the entire container
@mixin background-cover {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

// Ensure the background image fits in container
@mixin background-contain {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

// Ensure video covers the entire container
@mixin video-background-cover {
	height: 100%;
	left: 50%;
	min-height: 57.14285vw; /* 100 * 4 / 7 */
	min-width: 100%;
	pointer-events: none;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 175vh; /* 100 * 7 / 4 */
}
