/* ***** ----------------------------------------------- ***** **
** ***** Utilities/Layout
** ***** ----------------------------------------------- ***** */


.u-clearfix {
	&::before,
	&::after {
		content: "";
		display: table;
	}

	&::after {
		clear: both;
	}
}

.u-float--right {
	float: right;
}

.u-float--left {
	float: left;
}

.u-display--block {
	display: block;
}

.u-display--inline_block {
	display: inline-block;
}

.u-display--none {
	display: none;
}

.u-display--table {
	display: table;
}

.u-display--flex {
	display: flex;
}

.u-position--static {
	position: static;
}

.u-position--relative {
	position: relative;
}

.u-position--fixed {
	position: fixed;
}

.u-position--absolute {
	position: absolute;
}
