/* ***** ----------------------------------------------- ***** **
** ***** Utilities/Position
** ***** ----------------------------------------------- ***** */


.u-position--static {
	position: static;
}

.u-position--relative {
	position: relative;
}

.u-position--fixed {
	position: fixed;
}

.u-position--absolute {
	position: absolute;
}
