/* ***** ----------------------------------------------- ***** **
** ***** Utilities/Show
** ***** ----------------------------------------------- ***** */


.u-visible {
	visibility: visible;
}

.u-show {
	display: block;
}

.u-show--xsmall {
	display: block;

	@include mq($mq-xsmall) {
		display: none;
	}
}

.u-show--xsmall_small {
	display: block;

	@include mq($mq-small) {
		display: none;
	}
}

.u-show--xsmall_medium {
	display: block;

	@include mq($mq-medium) {
		display: none;
	}
}

.u-show--xsmall_large {
	display: block;

	@include mq($mq-large) {
		display: none;
	}
}

.u-show--xsmall_xlarge {
	display: block;

	@include mq($mq-xlarge) {
		display: none;
	}
}

.u-show--small {
	display: none;

	@include mq($mq-xsmall) {
		display: block;
	}

	@include mq($mq-small) {
		display: none;
	}
}

.u-show--small_medium {
	display: none;

	@include mq($mq-xsmall) {
		display: block;
	}

	@include mq($mq-medium) {
		display: none;
	}
}

.u-show--small_large {
	display: none;

	@include mq($mq-xsmall) {
		display: block;
	}

	@include mq($mq-large) {
		display: none;
	}
}

.u-show--small_xlarge {
	display: none;

	@include mq($mq-xsmall) {
		display: block;
	}

	@include mq($mq-xlarge) {
		display: none;
	}
}

.u-show--medium {
	display: none;

	@include mq($mq-small) {
		display: block;
	}

	@include mq($mq-medium) {
		display: none;
	}
}

.u-show--medium_large {
	display: none;

	@include mq($mq-small) {
		display: block;
	}

	@include mq($mq-large) {
		display: none;
	}
}

.u-show--medium_xlarge {
	display: none;

	@include mq($mq-small) {
		display: block;
	}

	@include mq($mq-xlarge) {
		display: none;
	}
}

.u-show--large {
	display: none;

	@include mq($mq-medium) {
		display: block;
	}

	@include mq($mq-large) {
		display: none;
	}
}

.u-show--xlarge {
	display: none;

	@include mq($mq-medium) {
		display: block;
	}

	@include mq($mq-xlarge) {
		display: none;
	}
}

.u-show--xlarge {
	display: none;

	@include mq($mq-large) {
		display: block;
	}
}
