{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "requireConfigFile": false,
  },
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "es6": true
  }
}