{
    "extends": "stylelint-config-standard",
    "plugins": [
        "stylelint-order"
    ],
    "rules": {
        "indentation": "tab",
        "max-empty-lines": 2,
        "block-no-empty": ,
        "selector-type-no-unknown": ,
        "selector-pseudo-element-no-unknown": ,
        "rule-empty-line-before": [
            "always-multi-line", {
                "except": ["first-nested"],
                "ignore": ["after-comment"]
            }
        ],
        "block-closing-brace-empty-line-before": ,
        "font-family-name-quotes": "always-where-recommended",
        "function-url-quotes": "always",
        "selector-attribute-quotes": "always",
        "string-quotes": "double",
        "color-named": "never",
        "font-weight-notation": "numeric",
        "order/properties-alphabetical-order": true,
        "at-rule-no-unknown":
    }
}