/* ***** ----------------------------------------------- ***** **
** ***** Tools/Layout
** ***** ----------------------------------------------- ***** */

// Media query
@mixin mq($size, $type: min, $orientation: width) {
  @if map-has-key($breakpoints, $size) {
    $size: map-get($breakpoints, $size);
  }
  @if $type == 'max' {
    $size: $size - 1px;
  }
  @if $orientation == 'width' {
    @media only screen and (#{$type}-width: px-to-em($size)) {
      @content;
    }
  }
  @if $orientation == 'height' {
    @media only screen and (#{$type}-height: px-to-em($size)) {
      @content;
    }
  }
}

// Center horizontally
@mixin horizontalCenter {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

// Center vertically
@mixin verticalCenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

// Center horizontally and vertically
@mixin absoluteCenter {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

// Cover the entire element
@mixin fullCover {
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

// Create proportional element
@mixin proportionalElement($ratio) {
  &::after {
    clear: both;
    content: '';
    display: table;
  }

  &::before {
    content: '';
    float: left;
    height: 0;
    margin-left: -0.1rem;
    padding-top: ($ratio) * 100%;
    width: -0.1rem;
  }
}
