/* ***** ----------------------------------------------- ***** **
** ***** Elements/Base Styles
** ***** ----------------------------------------------- ***** */

:root {
  background-color: $rootBackgroundColor;
  font-size: $fontSizeBase;
}

*::selection {
  background-color: $selectionBackgroundColor;
  color: $selectionTextColor;
}

html {
  min-height: 100vh;
  -webkit-overflow-scrolling: touch;
}

body {
  color: $bodyTextColor;
  display: flex;
  flex-direction: column;
  font-family: get-font-family('body');
  font-size: $fontSizeDefault;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: map-get($lineHeight, 'normal');
  min-height: 100vh;
  @include mq('md') {
    font-size: $fontSizeDefaultDesktop;
  }
}
