/* ***** ----------------------------------------------- ***** **
** ***** Elements/Blockquote Styles
** ***** ----------------------------------------------- ***** */

blockquote {
  border-left: get-size(4) solid get-color('greyLightC');
  margin: get-size(30) get-size(20);
  padding-left: get-size(20);
  @include mq('md') {
    border-width: get-size(4, true);
    margin: get-size(35, true) get-size(25, true);
    padding-left: get-size(25, true);
  }
}
