/* ***** ----------------------------------------------- ***** **
** ***** Elements/Button Styles
** ***** ----------------------------------------------- ***** */

button {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  font-family: get-font-family('body');
  line-height: map-get($lineHeight, 'normal');
  outline: 0;
  padding: 0;
  transition: color $transitionSlow, background-color $transitionSlow;
}
