/* ***** ----------------------------------------------- ***** **
** ***** Elements/Form Styles
** ***** ----------------------------------------------- ***** */


fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

input {
	@include placeholder($body-text-color);
	@include autofill(none, $body-text-color, transparent);

	background-color: transparent;
	border: 0.1rem solid $white;
	border-radius: 0;
	color: $body-text-color;
	font-family: $font-family-body;
	outline: none;
	padding: 1rem;
}

textarea {
	background-color: transparent;
	border: 0.1rem solid $white;
	border-radius: 0;
	color: $body-text-color;
	font-family: $font-family-body;
	outline: 0;
	padding: 1rem;
	resize: none;
}

select {
	-webkit-appearance: none;
	background-color: transparent;
	border: 0.1rem solid $white;
	border-radius: 0;
	color: $body-text-color;
	font-family: $font-family-body;
	outline: 0;
	padding: 1rem;
	width: 100%;
}
