/* ***** ----------------------------------------------- ***** **
** ***** Elements/Hr Styles
** ***** ----------------------------------------------- ***** */

hr {
  border: 0;
  border-top: get-size(1) solid get-color('greyLightC');
  margin: get-size(30) 0;
  @include mq('md') {
    border-width: get-size(2, true);
    margin: get-size(35, true) 0;
  }
}
