/* ***** ----------------------------------------------- ***** **
** ***** Elements/List Styles
** ***** ----------------------------------------------- ***** */

ul,
ol {
  line-height: map-get($lineHeight, loose);
  margin: get-size(20) 0 get-size(20) get-size(30);
  padding: 0;
  @include mq('md') {
    margin: get-size(25, true) 0 get-size(25, true) get-size(35, true);
  }

  &.u-unstyled {
    list-style: none;
    margin-left: 0;
  }

  li {
    margin: get-size(20) 0;
    @include mq('md') {
      margin: get-size(20, true) 0;
    }
  }

  ul {
    margin-bottom: 0;
    margin-top: 0;
  }
}

nav {
  ul,
  ol {
    margin-left: 0;
  }
}
