/* ***** ----------------------------------------------- ***** **
** ***** Elements/Media Styles
** ***** ----------------------------------------------- ***** */


figure {
	margin: 0;
}

img {
	height: auto;
}

svg {
	width: 100%;
}

iframe,
object,
embed,
video,
img {
	max-width: 100%;
}
