/* ***** ----------------------------------------------- ***** **
** ***** Elements/Paragraph Styles
** ***** ----------------------------------------------- ***** */


p {
	line-height: map-deep-get($line-height, loose, value);
	margin: to-vw(20, $mobile-ratio-width) 0;

	@include mq("medium") {
		margin: to-vw(25, $desktop-ratio-width) 0;
	}
}
