/* ***** ----------------------------------------------- ***** **
** ***** Elements/Table Styles
** ***** ----------------------------------------------- ***** */


table {
	border-width: to-vw(1, $mobile-ratio-width);

	@include mq("medium") {
		border-width: to-vw(2, $desktop-ratio-width);
	}

	th,
	td {
		border: to-vw(1, $mobile-ratio-width) solid map-deep-get($colors, grey-light--c, value);
		padding: to-vw(5, $mobile-ratio-width) to-vw(10, $mobile-ratio-width);
		text-align: left;

		@include mq("medium") {
			border-width: to-vw(2, $desktop-ratio-width);
			padding: to-vw(10, $desktop-ratio-width) to-vw(15, $desktop-ratio-width);
		}
	}
}
