/* ***** ----------------------------------------------- ***** **
** ***** Elements/Table Styles
** ***** ----------------------------------------------- ***** */


table {
	border-width: 0.1rem;

	th,
	td {
		border: 0.1rem solid $grey-light--c;
		padding: 0.5rem 1rem;
		text-align: left;
	}
}
