/* ***** ----------------------------------------------- ***** **
** ***** Elements/Table Styles
** ***** ----------------------------------------------- ***** */

table {
  border-width: get-size(1);
  @include mq('md') {
    border-width: get-size(2, true);
  }

  th,
  td {
    border: get-size(1) solid get-color('greyLightC');
    padding: get-size(5) get-size(10);
    text-align: left;
    @include mq('md') {
      border-width: get-size(2, true);
      padding: get-size(10, true) get-size(15, true);
    }
  }
}
