/* ***** ----------------------------------------------- ***** **
** ***** Base/Base Styles
** ***** ----------------------------------------------- ***** */


:root {
	background-color: $root-background-color;
	font-size: $font-size-base;
}

*::selection {
	background-color: $selection-background-color;
	color: $selection-text-color;
}

html {
	-webkit-overflow-scrolling: touch;
}

body {
	color: $body-text-color;
	font-family: $font-family-primary;
	font-size: $font-size-normal;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	line-height: $line-height-normal;

	@include mq($bp-small) {
		font-size: $font-size-normal-small;
	}
}

p {
	margin: 2rem 0;
}

p,
ul,
ol {
	line-height: $line-height-loose;
}

a {
	@include transition-color-normal;

	color: $link-text-color;
	text-decoration: none;

	&:hover {
		color: $link-hover-text-color;
	}

	&:active {
		color: $link-active-text-color;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility;
}

h1 {
	font-size: $font-size-h1;

	@include mq($bp-small) {
		font-size: $font-size-h1-small;
	}
}

h2 {
	font-size: $font-size-h2;

	@include mq($bp-small) {
		font-size: $font-size-h2-small;
	}
}

h3 {
	font-size: $font-size-h3;

	@include mq($bp-small) {
		font-size: $font-size-h3-small;
	}
}

h4 {
	font-size: $font-size-h4;

	@include mq($bp-small) {
		font-size: $font-size-h4-small;
	}
}

h5 {
	font-size: $font-size-h5;

	@include mq($bp-small) {
		font-size: $font-size-h5-small;
	}
}

h6 {
	font-size: $font-size-h6;

	@include mq($bp-small) {
		font-size: $font-size-h6-small;
	}
}

ul,
ol {
	margin: 2rem 0 2rem 3rem;
	padding: 0;

	&.u-unstyled {
		list-style: none;
		margin-left: 0;
	}
}

nav {
	ul,
	ol {
		margin-left: 0;
	}
}

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 0;
}

textarea {
	border: 0.1rem solid $white;
	border-radius: 0;
	font-family: $font-family-primary;
	resize: none;
}

select {
	width: 100%;
}

hr {
	border: 0;
	border-top: 0.1rem solid $grey-light--c;
	margin: 2rem 0;
}

blockquote {
	border-left: 0.4rem solid $grey-light--c;
	margin: 3rem 2rem;
	padding-left: 2rem;
}

button {
	-moz-appearance: none;
	-webkit-appearance: none;
	background: transparent;
	border: 0;
	cursor: pointer;
	font-family: $font-family-primary;
	line-height: normal;
	outline: 0;
	padding: 0;
}

input {
	border: 0.1rem solid $white;
	border-radius: 0;
	font-family: $font-family-primary;
	outline: none;
	padding: 0.5rem 1rem;
}

table {
	border-width: 0.1rem;

	th,
	td {
		border: 0.1rem solid $grey-light--c;
		padding: 0.5rem;
	}
}

svg {
	width: 100%;
}
