/* ***** ----------------------------------------------- ***** **
** ***** Base/Utilities
** ***** ----------------------------------------------- ***** */


/* ***** Layout
** ***** ----------------------------------------------- ***** */

.u-clearfix {
	&::before,
	&::after {
		content: "";
		display: table;
	}

	&::after {
		clear: both;
	}
}

.u-pull--right {
	float: right;
}

.u-pull--left {
	float: left;
}


/* ***** Show
** ***** ----------------------------------------------- ***** */

.u-visible {
	visibility: visible;
}

.u-show {
	display: block;
}

.u-show--xsmall {
	display: block;

	@include mq($mq-xsmall) {
		display: none;
	}
}

.u-show--small {
	display: none;

	@include mq($mq-xsmall) {
		display: block;
	}

	@include mq($mq-small) {
		display: none;
	}
}

.u-show--medium {
	display: none;

	@include mq($mq-small) {
		display: block;
	}

	@include mq($mq-medium) {
		display: none;
	}
}

.u-show--large {
	display: none;

	@include mq($mq-medium) {
		display: block;
	}

	@include mq($mq-large) {
		display: none;
	}
}

.u-show--xlarge {
	display: none;

	@include mq($mq-large) {
		display: block;
	}
}


/* ***** Hide
** ***** ----------------------------------------------- ***** */

.u-visually_hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.u-invisible {
	visibility: hidden;
}

.u-hide {
	display: none;
}

.u-hide--xsmall {
	display: none;

	@include mq($mq-xsmall) {
		display: block;
	}
}

.u-hide--small {
	@include mq($mq-xsmall) {
		display: none;
	}

	@include mq($mq-small) {
		display: block;
	}
}

.u-hide--medium {
	@include mq($mq-small) {
		display: none;
	}

	@include mq($mq-medium) {
		display: block;
	}
}

.u-hide--large {
	@include mq($mq-medium) {
		display: none;
	}

	@include mq($mq-large) {
		display: block;
	}
}

.u-hide--xlarge {
	@include mq($mq-large) {
		display: none;
	}
}


/* ***** Text
** ***** ----------------------------------------------- ***** */

.u-h1,
.u-h2,
.u-h3,
.u-h4,
.u-h5,
.u-h6 {
	text-rendering: optimizeLegibility;
}

.u-h1 {
	font-size: $font-size-h1;
}

.u-h2 {
	font-size: $font-size-h2;
}

.u-h3 {
	font-size: $font-size-h3;
}

.u-h4 {
	font-size: $font-size-h4;
}

.u-h5 {
	font-size: $font-size-h5;
}

.u-h6 {
	font-size: $font-size-h6;
}

.u-text--bold {
	font-weight: $font-weight-bold;
}

.u-text--normal {
	font-weight: $font-weight-normal;
}

.u-text--italic {
	font-style: italic;
}

.u-text--right {
	text-align: right;
}

.u-text--left {
	text-align: left;
}

.u-text--center {
	text-align: center;
}

.u-text--justify {
	text-align: justify;
}

.u-text--nowrap {
	white-space: nowrap;
}

.u-text--lowercase {
	text-transform: lowercase;
}

.u-text--uppercase {
	text-transform: uppercase;
}

.u-text--capitalize {
	text-transform: capitalize;
}

.u-text--underline {
	text-decoration: underline;
}

.u-text--overline {
	text-decoration: overline;
}

.u-text--line_through {
	text-decoration: line-through;
}

.u-text--ellipsis {
	@include text-ellipsis;
}


/* ***** Overflow
** ***** ----------------------------------------------- ***** */

.u-overflow--hidden {
	overflow: hidden;
}

.u-overflow--auto {
	overflow: auto;
}
