/* ***** ----------------------------------------------- ***** **
** ***** Mixins/Transition
** ***** ----------------------------------------------- ***** */


// All
@mixin transition-all-slower {
	transition: all $transition-speed-slower;
}

@mixin transition-all-slow {
	transition: all $transition-speed-slow;
}

@mixin transition-all-normal {
	transition: all $transition-speed-normal;
}

@mixin transition-all-fast {
	transition: all $transition-speed-fast;
}

@mixin transition-all-faster {
	transition: all $transition-speed-faster;
}

// Color
@mixin transition-color-slower {
	transition: color $transition-speed-slower;
}

@mixin transition-color-slow {
	transition: color $transition-speed-slow;
}

@mixin transition-color-normal {
	transition: color $transition-speed-normal;
}

@mixin transition-color-fast {
	transition: color $transition-speed-fast;
}

@mixin transition-color-faster {
	transition: color $transition-speed-faster;
}

// Background Color
@mixin transition-background-color-slower {
	transition: background-color $transition-speed-slower;
}

@mixin transition-background-color-slow {
	transition: background-color $transition-speed-slow;
}

@mixin transition-background-color-normal {
	transition: background-color $transition-speed-normal;
}

@mixin transition-background-color-fast {
	transition: background-color $transition-speed-fast;
}

@mixin transition-background-color-faster {
	transition: background-color $transition-speed-faster;
}

// Opacity
@mixin transition-opacity-slower {
	transition: opacity $transition-speed-slower;
}

@mixin transition-opacity-slow {
	transition: opacity $transition-speed-slow;
}

@mixin transition-opacity-normal {
	transition: opacity $transition-speed-normal;
}

@mixin transition-opacity-fast {
	transition: opacity $transition-speed-fast;
}

@mixin transition-opacity-faster {
	transition: opacity $transition-speed-faster;
}

// Transform
@mixin transition-transform-slower {
	transition: transform $transition-speed-slower;
}

@mixin transition-transform-slow {
	transition: transform $transition-speed-slow;
}

@mixin transition-transform-normal {
	transition: transform $transition-speed-normal;
}

@mixin transition-transform-fast {
	transition: transform $transition-speed-fast;
}

@mixin transition-transform-faster {
	transition: transform $transition-speed-faster;
}
