/* ***** ----------------------------------------------- ***** **
** ***** Utilities/Background Color
** ***** ----------------------------------------------- ***** */

// Refer to 2-settings/_colors.scss for the classes generated
$backgroundColorUtilities: ();

@each $key, $value in $colors {
  $key: capitalize($key);
  $backgroundColorUtilities: map-merge(
    $backgroundColorUtilities, (
      'bg#{$key}' : ( background-color: $value )
    )
  );
}
