/* ***** ----------------------------------------------- ***** **
** ***** Utilities/Display
** ***** ----------------------------------------------- ***** */


.u-display--block {
	display: block;
}

.u-display--inline_block {
	display: inline-block;
}

.u-display--none {
	display: none;
}

.u-display--table {
	display: table;
}

.u-display--flex {
	display: flex;
}
