/* ***** ----------------------------------------------- ***** **
** ***** Utilities/Height
** ***** ----------------------------------------------- ***** */

// Refer to 2-settings/_sizing.scss for the classes generated
$heightUtilities: ();

@each $key, $value in $height {
  $key: capitalize($key);
  $heightUtilities: map-merge(
    $heightUtilities, (
      'h#{$key}' : ( height: $value )
    )
  );
}
