/* ***** ----------------------------------------------- ***** **
** ***** Utilities/Hide
** ***** ----------------------------------------------- ***** */


.u-visually_hidden {
	border: 0;
	clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
	height: 0.1rem;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 0.1rem;
}

.u-invisible {
	visibility: hidden;
}

.u-hide {
	display: none;
}

.u-hide--xsmall {
	display: none;

	@include mq($bp-xsmall) {
		display: block;
	}
}

.u-hide--xsmall_small {
	display: none;

	@include mq($bp-small) {
		display: block;
	}
}

.u-hide--xsmall_medium {
	display: none;

	@include mq($bp-medium) {
		display: block;
	}
}

.u-hide--xsmall_large {
	display: none;

	@include mq($bp-large) {
		display: block;
	}
}

.u-hide--xsmall_xlarge {
	display: none;

	@include mq($bp-xlarge) {
		display: block;
	}
}

.u-hide--small {
	@include mq($bp-xsmall) {
		display: none;
	}

	@include mq($bp-small) {
		display: block;
	}
}

.u-hide--small_medium {
	@include mq($bp-xsmall) {
		display: none;
	}

	@include mq($bp-medium) {
		display: block;
	}
}

.u-hide--small_large {
	@include mq($bp-xsmall) {
		display: none;
	}

	@include mq($bp-large) {
		display: block;
	}
}

.u-hide--small_xlarge {
	@include mq($bp-xsmall) {
		display: none;
	}

	@include mq($bp-xlarge) {
		display: block;
	}
}

.u-hide--medium {
	@include mq($bp-small) {
		display: none;
	}

	@include mq($bp-medium) {
		display: block;
	}
}

.u-hide--medium_large {
	@include mq($bp-small) {
		display: none;
	}

	@include mq($bp-large) {
		display: block;
	}
}

.u-hide--medium_xlarge {
	@include mq($bp-small) {
		display: none;
	}

	@include mq($bp-xlarge) {
		display: block;
	}
}

.u-hide--large {
	@include mq($bp-medium) {
		display: none;
	}

	@include mq($bp-large) {
		display: block;
	}
}

.u-hide--large_xlarge {
	@include mq($bp-medium) {
		display: none;
	}

	@include mq($bp-xlarge) {
		display: block;
	}
}

.u-hide--xlarge {
	@include mq($bp-large) {
		display: none;
	}
}
