/* ***** ----------------------------------------------- ***** **
** ***** Utilities/Margin
** ***** ----------------------------------------------- ***** */


@mixin margin-items-with-size($size, $breakpoint-suffix: "") {

	$size-value: ($size / 10) * 1rem;

	.u-mar_a_#{$size}#{$breakpoint-suffix} { margin: $size-value; }
	.u-mar_t_#{$size}#{$breakpoint-suffix} { margin-top: $size-value; }
	.u-mar_r_#{$size}#{$breakpoint-suffix} { margin-right: $size-value; }
	.u-mar_b_#{$size}#{$breakpoint-suffix} { margin-bottom: $size-value; }
	.u-mar_l_#{$size}#{$breakpoint-suffix} { margin-left: $size-value; }

	.u-mar_x_#{$size}#{$breakpoint-suffix} {
		margin-bottom: $size-value;
		margin-top: $size-value;
	}

	.u-mar_y_#{$size}#{$breakpoint-suffix} {
		margin-left: $size-value;
		margin-right: $size-value;
	}

}

@mixin margin-items($breakpoint-suffix: "") {

	.u-mar_l_auto#{$breakpoint-suffix} { margin-left: auto; }
	.u-mar_r_auto#{$breakpoint-suffix} { margin-right: auto; }

	.u-mar_x_auto#{$breakpoint-suffix} {
		margin-left: auto;
		margin-right: auto;
	}

}

// Print initial margin item with size classes
$margin-steps: 10;

@for $margin-step from 0 through $margin-steps {

	$size: $margin-step * 5;

	@include margin-items-with-size($size);

}

// Print initial margin item classes
@include margin-items();

// Print margin item with size classes for each breakpoint
@each $key, $value in $breakpoints {
	@include mq(map_get(map_get($breakpoints, $key), size)) {
		@for $margin-step from 0 through $margin-steps {

			$size: $margin-step * 5;

			@include margin-items-with-size($size, "-" + map_get(map_get($breakpoints, $key), abbr));

		}
	}
}

// Print margin item classes for each breakpoint
@each $key, $value in $breakpoints {
	@include mq(map_get(map_get($breakpoints, $key), size)) {
		@include margin-items("-" + map_get(map_get($breakpoints, $key), abbr));
	}
}
