/* ***** ----------------------------------------------- ***** **
** ***** Utilities/Margin
** ***** ----------------------------------------------- ***** */

$marginUtilities: (
  'ma': ( margin: auto ),
  'mta': ( margin-top: auto ),
  'mra': ( margin-right: auto ),
  'mba': ( margin-bottom: auto ),
  'mla': ( margin-left: auto ),
  'mya': ( margin-top: auto, margin-bottom: auto ),
  'mxa': ( margin-left: auto, margin-right: auto ),
);

// Refer to 2-settings/_spacing.scss for the classes generated
@each $key, $value in $spacing {
  $negValue: $value * -1;
  $marginUtilities: map-merge(
    $marginUtilities, (
      'm#{$key}' : ( margin: $value ),
      'mt#{$key}' : ( margin-top: $value ),
      'mr#{$key}' : ( margin-right: $value ),
      'mb#{$key}' : ( margin-bottom: $value ),
      'ml#{$key}' : ( margin-left: $value ),
      'mx#{$key}' : ( margin-left: $value, margin-right: $value ),
      'my#{$key}' : ( margin-top: $value, margin-bottom: $value ),
      'm-#{$key}' : ( margin: $negValue ),
      'mt-#{$key}' : ( margin-top: $negValue ),
      'mr-#{$key}' : ( margin-right: $negValue ),
      'mb-#{$key}' : ( margin-bottom: $negValue ),
      'ml-#{$key}' : ( margin-left: $negValue ),
      'mx-#{$key}' : ( margin-left: $negValue, margin-right: $negValue ),
      'my-#{$key}' : ( margin-top: $negValue, margin-bottom: $negValue )
    )
  );
}
