/* ***** ----------------------------------------------- ***** **
** ***** Utilities/Opacity
** ***** ----------------------------------------------- ***** */

// Refer to 2-settings/_opacity.scss for the classes generated
$opacityUtilities: ();

@each $key, $value in $opacity {
  $key: capitalize($key);
  $opacityUtilities: map-merge(
    $opacityUtilities, (
      'opacity#{$key}' : ( opacity: $value )
    )
  );
}
