/* ***** ----------------------------------------------- ***** **
** ***** Utilities/Overflow
** ***** ----------------------------------------------- ***** */


// Overflow classes
@mixin overflow-items($breakpoint-suffix: "") {

	.u-overflow_hidden#{$breakpoint-suffix} { overflow: hidden; }
	.u-overflow_auto#{$breakpoint-suffix} { overflow: auto; }
	.u-overflow_visible#{$breakpoint-suffix} { overflow: visible; }
	.u-overflow_scroll#{$breakpoint-suffix} { overflow: scroll; }

}

// Print initial overflow item classes
@include overflow-items;

// Print overflow item classes for each breakpoint; refer to 2-settings/_layout.scss for the breakpoint suffixes
@each $key, $value in $breakpoints {
	@include mq(map-deep-get($breakpoints, $key, size)) {
		@include overflow-items("-" + map-deep-get($breakpoints, $key, abbr));
	}
}
