/* ***** ----------------------------------------------- ***** **
** ***** Utilities/Ratio
** ***** ----------------------------------------------- ***** */

// Refer to 2-settings/_ratio.scss for the classes generated
$ratioUtilities: (
  'ratio::before': (
    content: '',
    float: left,
    height: 0,
    margin-left: -0.1rem,
    padding-top: 100%,
    width: -0.1rem
  ),
  'ratio::after': (
    clear: both,
    content: '',
    display: table
  ),
  'ratioAuto::before': ( display: none ),
  'ratioAuto::after': ( display: none )
);

@each $key, $value in $ratio {
  $ratioUtilities: map-merge(
    $ratioUtilities, (
      'ratio#{$key}::before' : ( padding-top: $value * 100% )
    )
  );
}

