/* ***** ----------------------------------------------- ***** **
** ***** Utilities/Text
** ***** ----------------------------------------------- ***** */


@mixin text-align-items($breakpoint-suffix: "") {

	.u-right#{$breakpoint-suffix} { text-align: right; }
	.u-left#{$breakpoint-suffix} { text-align: left; }
	.u-center#{$breakpoint-suffix} { text-align: center; }
	.u-justify#{$breakpoint-suffix} { text-align: justify; }

}

// Print initial text align item classes
@include text-align-items;

// Print text align item classes for each breakpoint
@each $key, $value in $breakpoints {
	@include mq(map_get(map_get($breakpoints, $key), size)) {
		@include text-align-items("-" + map_get(map_get($breakpoints, $key), abbr));
	}
}

.u-h1 {
	@extend h1;
}

.u-h2 {
	@extend h2;
}

.u-h3 {
	@extend h3;
}

.u-h4 {
	@extend h4;
}

.u-h5 {
	@extend h5;
}

.u-h6 {
	@extend h6;
}

.u-font_size_0 {
	font-size: 0;
}

.u-light {
	font-weight: $font-weight-light;
}

.u-normal {
	font-weight: $font-weight-normal;
}

.u-bold {
	font-weight: $font-weight-bold;
}

.u-black {
	font-weight: $font-weight-black;
}

.u-italic {
	font-style: italic;
}

.u-nowrap {
	white-space: nowrap;
}

.u-lowercase {
	text-transform: lowercase;
}

.u-uppercase {
	text-transform: uppercase;
}

.u-capitalize {
	text-transform: capitalize;
}

.u-underline {
	text-decoration: underline;
}

.u-overline {
	text-decoration: overline;
}

.u-line_through {
	text-decoration: line-through;
}

.u-truncate {
	@include truncate-text;
}
