/* ***** ----------------------------------------------- ***** **
** ***** Utilities/Width
** ***** ----------------------------------------------- ***** */


// Width classes
@mixin width-items($breakpoint-suffix: "") {

	.u-width_auto#{$breakpoint-suffix} { width: auto; }
	.u-width_0#{$breakpoint-suffix} { width: 0; }
	.u-width_50#{$breakpoint-suffix} { width: 50%; }
	.u-width_100#{$breakpoint-suffix} { width: 100%; }

}

// Print initial width item classes
@include width-items;

// Print width item classes for each breakpoint; refer to 2-settings/_layout.scss for the breakpoint suffixes
@each $key, $value in $breakpoints {
	@include mq(map-deep-get($breakpoints, $key, size)) {
		@include width-items("-" + map-deep-get($breakpoints, $key, abbr));
	}
}
