/* ***** ----------------------------------------------- ***** **
** ***** Utilities/Z-Index
** ***** ----------------------------------------------- ***** */

// Refer to 2-settings/_zIndex.scss for the classes generated
$zIndexUtilities: ();

@each $key, $value in $zIndex {
  $key: capitalize($key);
  $zIndexUtilities: map-merge(
    $zIndexUtilities, (
      'z#{$key}' : ( z-index: $value )
    )
  );
}
