---
layout: default
---

<div class="l-container">
  <article>

    {% if featuredImage %}
      <p><img data-src="{{ featuredImage | absoluteUrl }}" class="lazyload"></p>
    {% endif %}

    {% if title %}
      <h3>{{ title }}</h3>
    {% endif %}

    <p class="u-my0"><time datetime="{{ page.date | htmlDate }}">{{ page.date | readableDate }}</time></p>

    {% if tags %}
      <p class="u-my0">
        Tags:
        {% for tag in tags %}
          {% set tagUrl %}/articles/tags/{{ tag }}/{% endset %}
          <a href="{{ tagUrl | absoluteUrl }}">{{ tag }}</a>
          {%- if loop.last == false -%}, {%- endif -%}
        {% endfor %}
      </p>
    {% endif %}

    {% if content %}
      <div class="o-richTextEditor u-mt30 u-mt30-md">
        {{ content | safe }}
      </div>
    {% endif %}

  </article>

  {% if previousArticle or nextArticle %}
    <div class="u-mt40 u-mt40-md">
      {% if previousArticle %}
        <a href="{{ previousArticle.url | absoluteUrl }}">&laquo; Previous Article</a>
      {% endif %}
      {% if nextArticle %}
        <a href="{{ nextArticle.url | absoluteUrl }}">Next Article &raquo;</a>
      {% endif %}
    </div>
  {% endif %}

  <div class="u-mt40 u-mt40-md">
    <a href="{{ '/articles/' | absoluteUrl }}">&raquo; Go Back To Articles</a>
  </div>
</div>
