<html lang="en-US">

<head>

{% include 'partials/global/meta.njk' %}

<link rel="canonical" href="{{ page.url | absoluteUrl }}">

<link rel="stylesheet" href="{{ '/assets/css/main.min.css' | absoluteUrl | cacheBust }}">

{% if global.googleAnalyticsId and global.env == 'production' %}
  <script async src="//www.googletagmanager.com/gtag/js?id={{ global.googleAnalyticsId }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ global.googleAnalyticsId }}');
  </script>
{% endif %}

</head>

<body class="js-body {{ bodyClasses }}">

{{ content | safe }}

<script src="{{ '/assets/js/main.min.js' | absoluteUrl | cacheBust }}"></script>

</body>
</html>
