---
layout: base
---

{% include 'partials/global/header.njk' %}

<main class="u-flex-1 u-py-40 sm:u-py-80" role="main" data-router-wrapper>
  <div data-router-view="{{ viewName }}">
    {% if thisPage.pageSections %}
      {% include 'partials/pages/pageSections.njk' %}
    {% else %}
      {{ content | safe }}
    {% endif %}
  </div>
</main>

{% include 'partials/global/footer.njk' %}
{% include 'partials/global/menuOverlay.njk' %}
