---
layout: default
---

<div class="l-container l-container--small" data-s2r="group">
  <header>
    <h1 class="u-h2 u-text-grey-light-c" data-s2r-el="block-fade-up">{{ title }}</h1>
  </header>
  {{ content | safe }}
</div>
