<article class="u-mt40 u-mt40-md">

  {% if article.title %}
    <h4><a href="{{ article.slug | articleUrl }}">{{ article.title }}</a></h4>
  {% endif %}

  <p class="u-my0"><time datetime="{{ article.publishedAt | htmlDate }}">{{ article.publishedAt | readableDate }}</time></p>

  {% if article.categories %}
    <p class="u-my0">
      Categories:
      {% for category in article.categories %}
        <a href="{{ category.slug | articleCategoryUrl }}">{{ category.title }}</a>
        {%- if not loop.last -%}, {%- endif -%}
      {% endfor %}
    </p>
  {% endif %}

  {% if article.excerpt %}
    <p class="u-mt20 u-mt20-md">{{ article.excerpt }}</p>
  {% endif %}

</article>