/* ***** ----------------------------------------------- ***** **
** ***** Components/Header Styles
** ***** ----------------------------------------------- ***** */


.c-header {
	margin-bottom: 3rem;

	&-logo_svg {
		display: block;
		width: 7.5rem;
	}
}
