/* ***** ----------------------------------------------- ***** **
** ***** Components/Menu Overlay Styles
** ***** ----------------------------------------------- ***** */

.c-menuOverlay {
  transition: height 0ms $transitionSlow, opacity $transitionSlow;

  &.s-isOpen {
    height: 100%;
    opacity: 1;
    transition: height 0ms, opacity $transitionSlow;
  }
}
