/* ***** ----------------------------------------------- ***** **
** ***** Components/Site Alert Styles
** ***** ----------------------------------------------- ***** */


.c-site_alert {
	background: map-deep-get($colors, black, value);
	background: rgba(map-deep-get($colors, black, value), 0.75);
	bottom: 0;
	left: 0;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: map-deep-get($z-index, 9, value);

	&-link,
	&-message {
		color: map-deep-get($colors, white, value);
		display: block;
		padding: to-vw(15, $mobile-ratio-width);

		@include mq("medium") {
			padding: to-vw(20, $desktop-ratio-width);
		}
	}

	&-link {
		&:hover {
			@media (hover: hover) {
				color: map-deep-get($colors, grey-light--c, value);
			}
		}
	}
}
