/* ***** ----------------------------------------------- ***** **
** ***** Components/Site Alert Styles
** ***** ----------------------------------------------- ***** */


.c-site_alert {
	background: $black;
	background: rgba($black, 0.75);
	bottom: 0;
	left: 0;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: $z-index-9;

	&-link,
	&-message {
		color: $white;
		display: block;
		padding: to-vw(15, $mobile-ratio-width);

		@include mq("medium") {
			padding: to-vw(20, $desktop-ratio-width);
		}
	}

	&-link {
		&:hover {
			@media (hover: hover) {
				color: $grey-light--c;
			}
		}
	}
}
