/* ***** ----------------------------------------------- ***** **
** ***** Objects/Buttons Styles
** ***** ----------------------------------------------- ***** */

.o-button {
  background-color: get-color('greyLightC');
  color: get-color('black');
  display: inline-block;
  padding: get-size(7.5) get-size(20);
  transition: color $transitionSlow, background-color $transitionSlow;
  @include mq('md') {
    padding: get-size(10, true) get-size(25, true);
  }

  &:hover {
    @media (hover: hover) {
      background-color: get-color('greyDark4');
      color: get-color('greyLightC');
    }
  }

  &:active {
    @media (hover: hover) {
      background-color: get-color('greyLightA');
      color: get-color('black');
    }
  }
}
