/* ***** ----------------------------------------------- ***** **
** ***** Objects/Buttons Styles
** ***** ----------------------------------------------- ***** */


.o-button {
	background-color: $grey-light--c;
	color: $black;
	display: inline-block;
	padding: to-vw(7.5, $mobile-ratio-width) to-vw(20, $mobile-ratio-width);
	transition: background-color $transition-slow, color $transition-slow;

	@include mq("medium") {
		padding: to-vw(10, $desktop-ratio-width) to-vw(25, $desktop-ratio-width);
	}

	&:hover {
		@media (hover: hover) {
			background-color: $grey-dark--6;
			color: $grey-light--c;
		}
	}

	&:active {
		@media (hover: hover) {
			background-color: $grey-light--a;
			color: $black;
		}
	}
}
