/* ***** ----------------------------------------------- ***** **
** ***** Objects/Nav Styles
** ***** ----------------------------------------------- ***** */


.o-nav {
	$this: &;

	ul {
		margin: 0;
	}

	&-list_item {
		display: inline-block;
		margin-left: to-vw(10, $mobile-ratio-width);

		@include mq("medium") {
			margin-left: to-vw(15, $desktop-ratio-width);
		}

		&:first-child {
			margin-left: 0;
		}
	}

	&-item {
		display: inline-block;

		&.s-is_current {
			color: $white;
		}
	}
}
