/* ***** ----------------------------------------------- ***** **
** ***** Objects/Rich Text Editor Styles
** ***** ----------------------------------------------- ***** */

.o-richTextEditor {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: get-size(10);
    @include mq('md') {
      margin-bottom: get-size(10, true);
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  * + h1,
  * + h2,
  * + h3,
  * + h4,
  * + h5,
  * + h6 {
    margin-top: get-size(30);
    @include mq('md') {
      margin-top: get-size(35, true);
    }
  }

  a {
    text-decoration: underline;

    &:hover {
      @media (hover: hover) {
        text-decoration: none;
      }
    }
  }

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul,
  ol {
    margin-bottom: 0;
    margin-top: 0;

    li {
      margin: 0;
    }

    ul,
    ol {
      margin: get-size(5) 0 get-size(5) get-size(35);
    }
  }

  .o-embed {
    margin: get-size(30) 0;
    @include mq('sm') {
      margin: get-size(40, true) 0;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .o-button {
    text-decoration: none;
  }
}
