<header class="c-header u-bgBlack u-py20 u-zHeader" role="banner">
  <div class="l-container u-flex u-itemsCenter u-justifyBetween">
    <h1>
      <a href="{{ '/' | absoluteUrl }}" class="u-flex-xs u-itemsCenter-xs" aria-label="{{ settings.seo.siteName }}" x-on:click="menuOverlayIsOpen = false">
        {% svg 'icon-bymattlee', '0 0 50 50', 'c-header-logoSvg u-block' %}
        <span class="u-hide u-uppercase u-block-md u-font22-md u-ml10-md">{{ settings.seo.siteName }}</span>
      </a>
    </h1>
    <button class="u-uppercase u-fontHeading u-font16 u-fontBold u-relative u-hide-sm" type="button" x-on:click="menuOverlayIsOpen = !menuOverlayIsOpen">
      <span x-show="!menuOverlayIsOpen">Menu</span>
      <span x-show="menuOverlayIsOpen">Close</span>
    </button>
    {% if sections.header.menu %}
      <nav class="u-hide u-block-sm">
        <ul class="u-unstyled u-mt0-sm u-mb0-sm">
          {% for menuItem in sections.header.menu %}
            <li class="u-inlineBlock u-my0{% if loop.index > 1 %} u-ml20 u-ml40-md{% endif %}">
              <a href="{{ menuItem.url | absoluteUrl }}" class="u-inlineBlock u-uppercase u-fontHeading u-font14{% isSamePageOrSection menuItem.url, page.url, ' u-white' %} js-menuItem"{% if menuItem.openInNewTab %} target="_blank"{% endif %}>{{ menuItem.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    {% endif %}
  </div>
</header>
