<section class="u-bg-black u-fixed u-inset-0 u-w-full u-h-full u-overflow-hidden u-z-menu-overlay u-flex u-flex-col u-pt-80 u-pb-40 sm:u-hidden" x-data x-show="$store.menuOverlay.isOpen" x-transition.opacity.duration.500ms>
  <div class="u-flex-1 u-flex u-justify-center u-items-center">
    {% if sections.header.menu %}
      <nav>
        <ul >
          {% for menuItem in sections.header.menu %}
            <li class="u-my-15 u-text-center">
              <a href="{{ menuItem.url | absoluteUrl }}" class="u-inline-block u-font-heading u-uppercase u-text-16{% isSamePageOrSection menuItem.url, page.url, ' u-text-white' %} js-menuItem"{% if menuItem.openInNewTab %} target="_blank"{% endif %} x-data @click="$store.menuOverlay.toggle()">{{ menuItem.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    {% endif %}
  </div>
  {% if settings.social.socialSites %}
    <nav>
      <ul class="u-mt-20 u-text-center">
        {% for socialSite in settings.social.socialSites %}
          <li class="u-inline-block u-mx-5 md:u-mx10">
            {% if socialSite.facebookUrl %}
              <a href="{{ socialSite.facebookUrl }}" class="u-inlineBlock" target="_blank" rel="noopener" aria-label="Like On Facebook">
                {% svg 'icon-facebook', '0 0 50 50', 'u-w-30' %}
              </a>
            {% elseif socialSite.twitterUrl %}
              <a href="{{ socialSite.twitterUrl }}" class="u-inlineBlock" target="_blank" rel="noopener" aria-label="Follow On Twitter">
                {% svg 'icon-twitter', '0 0 50 50', 'u-w-30' %}
              </a>
            {% elseif socialSite.instagramUrl %}
              <a href="{{ socialSite.instagramUrl }}" class="u-inlineBlock" target="_blank" rel="noopener" aria-label="Follow On Instagram">
                {% svg 'icon-instagram', '0 0 50 50', 'u-w-30' %}
              </a>
            {% elseif socialSite.youtubeUrl %}
              <a href="{{ socialSite.youtubeUrl }}" class="u-inlineBlock" target="_blank" rel="noopener" aria-label="Subscribe On YouTube">
                {% svg 'icon-youtube', '0 0 50 50', 'u-w-30' %}
              </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
</section>