<div class="l-container l-container--small" data-s2r="group">
  <header>
    <h1 class="u-h2 u-greyLightC" data-s2r-el="block-fade-up">Latest Articles</h1>
  </header>
  <div class="u-mt20 u-mt40-md" data-s2r-el="stagger-fade-up" data-s2r-delay="0.2">
    {% if articles.all %}
      {% for article in articles.all %}
        {% if loop.index <= 3 %}
          {% include 'partials/articles/preview.njk' %}
        {% endif %}
      {% endfor %}
    {% else %}
      <p>No articles have been written.</p>
    {% endif %}
  </div>
  <p class="u-mt40" data-s2r-el="block-fade-up" data-s2r-delay="0.5">
    <a href="{{ '/articles/' | absoluteUrl }}" class="o-button">&raquo; View All Articles</a>
  </p>
</div>