<div class="l-container l-container--small">
  {% if pageSection.heading %}
    <h1 class="u-h2 u-greyLightC">{{ pageSection.heading }}</h1>
  {% endif %}
  {% if pageSection.mainContent %}
    <div class="o-richTextEditor u-mt10 u-mt20-md">
      {{ pageSection.mainContent | blocksToHtml | safe }}
    </div>
  {% endif %}
</div>