{#
  Responsive Background Image Usage
  --
  Image filename: image.jpg
  Sizes: 200w, 400w, 600w, 800w, 1000w

  Background markup:
  <div class="lazyload" data-bgset="{{ macro.responsiveImageSrcset('image', 'jpg', ['200w', '400w', '600w', '800w', '1000w']) | trim | striptags(false) }}" data-sizes="auto"></div>

  Image markup:
  <img class="lazyload" data-srcset="{{ macro.responsiveImageSrcset('image', 'jpg', ['200w', '400w', '600w', '800w', '1000w']) | trim | striptags(false) }}" data-sizes="auto">
#}

{% macro responsiveImageSrcset(baseFileName, extension, sizes) %}
  {% for size in sizes %}
    {{ '' | absoluteUrl }}/assets/images/{{ baseFileName }}-{{ size }}.{{ extension }} {{ size }}{% if not loop.last %}, {% endif %}
  {% endfor %}
{% endmacro %}
