{% extends "base.njk" %}

{% set pageTitle = "Page Not Found | ByMattLee" %}
{% set pageShareTitle = "Page Not Found" %}
{% set pageSlug = "404" %}
{% set pageBodyClasses = "p-404" %}
{% set pageDescription = "Page Not Found" %}

{% block main %}
  <main class="l-main" role="main">
    <div class="l-container">
      <h3>Page Not Found</h3>
      <p>Click <a href="{{ homeUrl }}">here</a> to go back home.</p>
    </div>
  </main>
{% endblock %}