{% extends "base.njk" %}

{% set page_title = "About | ByMattLee" %}
{% set page_slug = "about" %}
{% set page_body_class = "p-about" %}
{% set page_description = "ByMattLee Web Starter Files" %}

{% block main %}
<main class="l-main" role="main">
	<div class="l-container">
		<h1>About</h1>
		<p><a href="{{ home_url }}">&raquo; Go Back Home</a></p>
	</div>
</main>
{% endblock %}