{% extends "base.njk" %}

{% set pageTitle = "About | ByMattLee" %}
{% set pageShareTitle = "About" %}
{% set pageSlug = "about" %}
{% set pageBodyClasses = "p-about" %}
{% set pageDescription = "ByMattLee Web Starter Files" %}

{% block main %}
  <main class="l-main" role="main">
    <div class="l-container">
      <h3>About</h3>
      <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
      <p><a href="{{ homeUrl }}">&raquo; Go Back Home</a></p>
    </div>
  </main>
{% endblock %}