{% extends "base.njk" %}

{% set pageTitle = "ByMattLee | Freelance Creative Developer" %}
{% set pageShareTitle = "ByMattLee | Freelance Creative Developer" %}
{% set pageBodyClasses = "p-home" %}
{% set pageDescription = "ByMattLee Web Starter Files" %}

{% block main %}
	<main class="l-main" role="main">
		<div class="l-container">
			<h3>Home</h3>
			<p>Penatibus ultricies massa massa, ultricies auctor, nunc nisi elit! Lectus elementum vel augue elit adipiscing platea. Nunc adipiscing scelerisque a. Pellentesque nunc? Porta quis porta turpis, elit porta natoque velit?</p>
			<p><a href="{{ homeUrl }}/about" class="o-button">&raquo; Go To About</a></p>
		</div>
	</main>
{% endblock %}