{% extends "base.njk" %}

{% set page_title = "ByMattLee | Freelance Creative Developer" %}
{% set page_share_title = "ByMattLee | Freelance Creative Developer" %}
{% set page_body_class = "p-home" %}
{% set page_description = "ByMattLee Web Starter Files" %}

{% block main %}
<main class="l-main" role="main">
	<div class="l-container">
		<h1>ByMattLee Web Starter Files</h1>
		<p>Penatibus ultricies massa massa, ultricies auctor, nunc nisi elit! Lectus elementum vel augue elit adipiscing platea. Nunc adipiscing scelerisque a. Pellentesque nunc? Porta quis porta turpis, elit porta natoque velit?</p>
		<p><a href="{{ home_url }}/about">&raquo; Go To About</a></p>
	</div>
</main>
{% endblock %}