{#
	SVG Sprite Usage
	--
	Filename: icon-bymattlee
	Viewbox: 0 0 50 50
	Classes: c-header-logo_svg

	Markup: {{ macro.svg('icon-bymattlee', '0 0 50 50', 'c-header-logo_svg', homeUrl) | trim }}
#}

{% macro svg(filename, viewbox, classes, homeUrl) %}
	<svg viewBox="{{ viewbox }}" aria-hidden="true"{% if classes %} class="{{ classes }}"{% endif %}>
		<use xlink:href="{{ homeUrl }}/assets/svgs/sprite.svg#{{ filename }}"></use>
	</svg>
{% endmacro %}


{#
	Responsive Background Image Usage
	--
	Image filename: image.jpg
	Sizes: 200w, 400w, 600w, 800w, 1000w

	Background markup:
	<div class="lazyload" data-bgset="{{ macro.responsiveImageSrcset('image', 'jpg', ['200w', '400w', '600w', '800w', '1000w'], homeUrl) | trim | striptags(false) }}" data-sizes="auto"></div>

	Image markup:
	<img class="lazyload" data-srcset="{{ macro.responsiveImageSrcset('image', 'jpg', ['200w', '400w', '600w', '800w', '1000w'], homeUrl) | trim | striptags(false) }}" data-sizes="auto">
#}

{% macro responsiveImageSrcset(baseFileName, extension, sizes, homeUrl) %}
	{% for size in sizes %}
		{{ homeUrl }}/assets/images/{{ baseFileName }}-{{ size }}.{{ extension }} {{ size }}{% if not loop.last %}, {% endif %}
	{% endfor %}
{% endmacro %}


{#
	Image Usage
	--
	Image filename: image.jpg
	Markup: <img class="lazyload" data-src="{{ macro.imgSrc('image', 'jpg', homeUrl) | trim | striptags(false) }}">
#}
{% macro imgSrc(fileName, extension, homeUrl) %}
	{{ homeUrl }}/assets/images/{{ fileName }}.{{ extension }}
{% endmacro %}
