/* ***** ----------------------------------------------- ***** **
** ***** Elements/Base Styles
** ***** ----------------------------------------------- ***** */


:root {
	background-color: $root-background-color;
	font-size: $font-size-base;
}

*::selection {
	background-color: $selection-background-color;
	color: $selection-text-color;
}

html {
	min-height: 100vh;
	-webkit-overflow-scrolling: touch;
}

body {
	color: $body-text-color;
	display: flex;
	flex-direction: column;
	font-family: $font-family-body;
	font-size: $font-size-normal;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	line-height: $line-height-normal;
	min-height: 100vh;

	@include mq($bp-small) {
		font-size: $font-size-normal--small-up;
	}
}
