/* ***** ----------------------------------------------- ***** **
** ***** Elements/Headline Styles
** ***** ----------------------------------------------- ***** */


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family-headline;
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility;
}

h1 {
	font-size: $font-size-h1;

	@include mq($bp-small) {
		font-size: $font-size-h1--small-up;
	}
}

h2 {
	font-size: $font-size-h2;

	@include mq($bp-small) {
		font-size: $font-size-h2--small-up;
	}
}

h3 {
	font-size: $font-size-h3;

	@include mq($bp-small) {
		font-size: $font-size-h3--small-up;
	}
}

h4 {
	font-size: $font-size-h4;

	@include mq($bp-small) {
		font-size: $font-size-h4--small-up;
	}
}

h5 {
	font-size: $font-size-h5;

	@include mq($bp-small) {
		font-size: $font-size-h5--small-up;
	}
}

h6 {
	font-size: $font-size-h6;

	@include mq($bp-small) {
		font-size: $font-size-h6--small-up;
	}
}
