/* ***** ----------------------------------------------- ***** **
** ***** Elements/Hr Styles
** ***** ----------------------------------------------- ***** */


hr {
	border: 0;
	border-top: 0.1rem solid $grey-light--c;
	margin: 2rem 0;
}
