/* ***** ----------------------------------------------- ***** **
** ***** Elements/Media Styles
** ***** ----------------------------------------------- ***** */


figure {
	margin: 0;
}

img {
	height: auto;
	max-width: 100%;
}

svg {
	width: 100%;
}
