/* ***** ----------------------------------------------- ***** **
** ***** Layout/Base Styles
** ***** ----------------------------------------------- ***** */


.l-container {
	margin: 0 auto;
	padding: 0 2rem;
	position: relative;
	width: 100%;

	@include mq($mq-xlarge) {
		padding: 0;
		width: 124rem;
	}
}

.l-row {
	width: 100%;
}
