/* ***** ----------------------------------------------- ***** **
** ***** Layout/Base Styles
** ***** ----------------------------------------------- ***** */


.l-container {
	margin: 0 auto;
	padding: 0 2.5rem;
	position: relative;
	width: 100%;

	@include mq($bp-small) {
		padding: 0 5rem;
	}

	@include mq($bp-xlarge) {
		padding: 0;
		width: 120rem;
	}
}

.l-row {
	width: 100%;
}

.l-main {

}
