/* ***** ----------------------------------------------- ***** **
** ***** Layout/Base Styles
** ***** ----------------------------------------------- ***** */


.l-container {
	margin: 0 auto;
	max-width: 200rem;
	padding: 0 2.5rem;
	position: relative;
	width: 100%;

	@include mq($bp-small) {
		padding: 0 5rem;
	}

	@include mq($bp-xxlarge) {
		padding: 0 10rem;
	}
}

.l-row {
	width: 100%;
}

.l-main {
	flex: 1;
}
