/* ***** ----------------------------------------------- ***** **
** ***** Layout/Grid Styles
** ***** ----------------------------------------------- ***** */


@mixin grid-items($breakpoint-suffix: "") {

	// Whole
	&--1_1#{$breakpoint-suffix} { width: 100%; }

	// Halves
	&--1_2#{$breakpoint-suffix} { width: percentage(1 / 2); }

	// Thirds
	&--1_3#{$breakpoint-suffix} { width: percentage(1 / 3); }
	&--2_3#{$breakpoint-suffix} { width: percentage(2 / 3); }

	// Quarters
	&--1_4#{$breakpoint-suffix} { width: percentage(1 / 4); }
	&--2_4#{$breakpoint-suffix} { width: percentage(2 / 4); }
	&--3_4#{$breakpoint-suffix} { width: percentage(3 / 4); }

	// Fifths
	&--1_5#{$breakpoint-suffix} { width: percentage(1 / 5); }
	&--2_5#{$breakpoint-suffix} { width: percentage(2 / 5); }
	&--3_5#{$breakpoint-suffix} { width: percentage(3 / 5); }
	&--4_5#{$breakpoint-suffix} { width: percentage(4 / 5); }

	// Sixths
	&--1_6#{$breakpoint-suffix} { width: percentage(1 / 6); }
	&--2_6#{$breakpoint-suffix} { width: percentage(2 / 6); }
	&--3_6#{$breakpoint-suffix} { width: percentage(3 / 6); }
	&--4_6#{$breakpoint-suffix} { width: percentage(4 / 6); }
	&--5_6#{$breakpoint-suffix} { width: percentage(5 / 6); }

	// Eighths
	&--1_8#{$breakpoint-suffix} { width: percentage(1 / 8); }
	&--2_8#{$breakpoint-suffix} { width: percentage(2 / 8); }
	&--3_8#{$breakpoint-suffix} { width: percentage(3 / 8); }
	&--4_8#{$breakpoint-suffix} { width: percentage(4 / 8); }
	&--5_8#{$breakpoint-suffix} { width: percentage(5 / 8); }
	&--6_8#{$breakpoint-suffix} { width: percentage(6 / 8); }
	&--7_8#{$breakpoint-suffix} { width: percentage(7 / 8); }

	// Twelfths
	&--1_12#{$breakpoint-suffix} { width: percentage(1 / 12); }
	&--2_12#{$breakpoint-suffix} { width: percentage(2 / 12); }
	&--3_12#{$breakpoint-suffix} { width: percentage(3 / 12); }
	&--4_12#{$breakpoint-suffix} { width: percentage(4 / 12); }
	&--5_12#{$breakpoint-suffix} { width: percentage(5 / 12); }
	&--6_12#{$breakpoint-suffix} { width: percentage(6 / 12); }
	&--7_12#{$breakpoint-suffix} { width: percentage(7 / 12); }
	&--8_12#{$breakpoint-suffix} { width: percentage(8 / 12); }
	&--9_12#{$breakpoint-suffix} { width: percentage(9 / 12); }
	&--10_12#{$breakpoint-suffix} { width: percentage(10 / 12); }
	&--11_12#{$breakpoint-suffix} { width: percentage(11 / 12); }

}

.l-grid {
	display: flex;
	flex-wrap: wrap;
	margin: -#{$grid-gutter / 2} -#{$grid-gutter / 2} 0;

	@include mq("small") {
		margin: -#{$grid-gutter--small-up / 2} -#{$grid-gutter--small-up / 2} 0;
	}

	&-item {
		padding: $grid-gutter / 2;
		width: 100%;

		@include mq("small") {
			padding: $grid-gutter--small-up / 2;
		}

		// Print default grid item classes
		@include grid-items;

		// Print grid item classes for each breakpoint
		@each $key, $value in $breakpoints {
			@include mq(map_get(map_get($breakpoints, $key), "size")) {
				@include grid-items("-" + map_get(map_get($breakpoints, $key), "abbr"));
			}
		}

	}
}
