/* ***** ----------------------------------------------- ***** **
** ***** Layout/Grid Styles
** ***** ----------------------------------------------- ***** */

$gutter: 4rem;

.l-grid {
	display: flex;
	flex-wrap: wrap;
	margin: -#{$gutter / 2} -#{$gutter / 2} 0;

	&-item {
		padding: $gutter / 2;
		width: 100%;

		&--one_half {
			@include mq($bp-xsmall) {
				width: calc(100% / 2);
			}
		}

		&--one_third {
			@include mq($bp-xsmall) {
				width: calc(100% / 2);
			}

			@include mq($bp-medium) {
				width: calc(100% / 3);
			}
		}

		&--one_fourth {
			@include mq($bp-xsmall) {
				width: calc(100% / 2);
			}

			@include mq($bp-medium) {
				width: calc(100% / 4);
			}
		}

		&--one_fifth {
			@include mq($bp-xsmall) {
				width: calc(100% / 2);
			}

			@include mq($bp-medium) {
				width: calc(100% / 4);
			}

			@include mq($bp-large) {
				width: calc(100% / 5);
			}
		}

		&--one_sixth {
			@include mq($bp-xsmall) {
				width: calc(100% / 2);
			}

			@include mq($bp-medium) {
				width: calc(100% / 4);
			}

			@include mq($bp-xlarge) {
				width: calc(100% / 6);
			}
		}
	}
}
