/* ***** ----------------------------------------------- ***** **
** ***** Settings/Breakpoints
** ***** ----------------------------------------------- ***** */


$bp-xsmall: px-to-em(480);
$bp-small: px-to-em(768);
$bp-medium: px-to-em(900);
$bp-large: px-to-em(1100);
$bp-xlarge: px-to-em(1300);
$bp-xxlarge: px-to-em(1600);
