/* ***** ----------------------------------------------- ***** **
** ***** Layout/Container Styles
** ***** ----------------------------------------------- ***** */

.l-container {
  margin: 0 auto;
  padding: 0 $contentGutter;
  position: relative;
  width: 100%;
  @include mq('md') {
    padding: 0 $contentGutterDesktop;
  }
}
