/* ***** ----------------------------------------------- ***** **
** ***** Objects/Buttons Styles
** ***** ----------------------------------------------- ***** */


.o-button {
	align-items: center;
	background: $grey-light--c;
	color: $black;
	display: flex;
	height: 5rem;
	justify-content: center;
	width: 10rem;
}
