/* ***** ----------------------------------------------- ***** **
** ***** Objects/Embed Styles
** ***** ----------------------------------------------- ***** */


.o-embed {
	height: 0;
	padding-bottom: 56.25%; /* 16:9 */
	position: relative;

	iframe,
	object,
	embed,
	video,
	img {
		@include full-cover;
	}
}
