---
layout: layouts/base.njk
pageTitle: Page Not Found | ByMattLee
pageShareTitle: Page Not Found
pageBodyClasses: p-404
pageDescription: Page Not Found
---

<div class="l-container">
  <h3>Page Not Found</h3>
  <p>Click <a href="{{ '/' | absoluteUrl }}">here</a> to go back home.</p>
</div>
