---
layout: page
bodyClasses: p-articles
viewName: articles
pagination:
  data: articles.all
  size: 4
permalink: /articles/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}
eleventyComputed:
  title: Articles {% if pagination.pageNumber > 0 %}(Page {{ pagination.pageNumber + 1 }} of {{ pagination.hrefs | length }}){% endif %}
---

<div class="u-mt20 u-mt40-md" data-s2r-el="stagger-fade-up" data-s2r-delay="0.2">
  {% for article in pagination.items %}
    {% include 'partials/articles/preview.njk' %}
  {% endfor %}
</div>

{% if pagination.href.previous or pagination.href.next %}
  <div class="u-uppercase u-font14 u-mt40 u-mt60-md" data-s2r-el="block-fade-up" data-s2r-delay="0.7">
    {% if pagination.href.previous %}
      <a href="{{ pagination.href.previous | absoluteUrl }}">&laquo; Previous Page</a>
    {% endif %}
    {% if pagination.href.previous and pagination.href.next %}
      <span class="u-px5">/</span>
    {% endif %}
    {% if pagination.href.next %}
      <a href="{{ pagination.href.next | absoluteUrl }}">Next Page &raquo;</a>
    {% endif %}
  </div>
{% endif %}
  