---
permalink: feed.xml
excludeFromSitemap: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ global.siteName }}</title>
  <subtitle>{{ globalsiteDescription }}</subtitle>
  <link href="{{ '/feed.xml' | absoluteUrl }}" rel="self"/>
  <link href="{{ '/' | absoluteUrl }}"/>
  {% if collections.articles|length %}
    <updated>{{ collections.articles | rssLastUpdatedDate }}</updated>
  {% endif %}
  <id>{{ '/' | absoluteUrl }}</id>
  <author>
    <name>{{ global.siteName }}</name>
  </author>
  {%- for article in collections.articles %}
    <entry>
      <title>{{ article.data.title }}</title>
      <link href="{{ article.url | absoluteUrl }}"/>
      <updated>{{ article.date | rssDate }}</updated>
      <id>{{ article.url | absoluteUrl }}</id>
      <content type="html"><![CDATA[
        {{ article.templateContent | safe }}
      ]]></content>
    </entry>
  {%- endfor %}
</feed>