---
layout: default
pageTitle: ByMattLee | Freelance Creative Developer
overwriteFullPageTitle: true
pageBodyClasses: p-home
pageDescription: ByMattLee Web Starter Files
---

<div class="l-container">
  <h2>Welcome</h2>
  <p>Penatibus ultricies massa massa, ultricies auctor, nunc nisi elit! Lectus elementum vel augue elit adipiscing platea. Nunc adipiscing scelerisque a. Pellentesque nunc? Porta quis porta turpis, elit porta natoque velit?</p>
  <p><a href="{{ '/about/' | absoluteUrl }}" class="o-button">&raquo; Go To About</a></p>
</div>
