---
layout: default
title: Home
bodyClasses: p-home
metaTitle: ByMattLee | Freelance Creative Developer
pagination:
  data: collections.articles
  size: 3
  alias: latestArticles
---

<div class="l-container">
  {% include 'partials/home/welcome.njk' %}
  {% include 'partials/home/latest-articles.njk' %}
</div>
