---
layout: base
pageTitle: Splash
pageBodyClasses: p-blackSplash
pageDescription: Splash
---

<div class="l-container u-hScreen u-flex u-justifyCenter u-itemsCenter u-flexColumn u-textCenter">
  <h3>Splash</h3>
  <p>Simple and quick with no header or footer.</p>
  <p><a href="{{ '/' | absoluteUrl }}">&raquo; Go Back Home</a></p>
</div>
