---
layout: page
bodyClasses: p-articleTags
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /articles/tags/{{ tag }}/
eleventyComputed:
  title: Articles tagged with "{{ tag }}"
excludeFromSitemap: true
---

<div>
  {% for article in collections[tag] | reverse %}
    {% include 'partials/articles/preview.njk' %}
  {% endfor %}
</div>
