{% import "macros/macros.njk" as macro %}

<header class="c-header u-mb30 u-mb30-md" role="banner">
  <div class="l-container">
    <h1>
      <a href="{{ homeUrl }}">
        {{ macro.svg('icon-bymattlee', '0 0 50 50', 'c-header-logo_svg u-block', homeUrl) | trim }}
        ByMattLee Web Starter Files
      </a>
    </h1>

    {% if header.nav %}
      <nav>
        <ul class="u-unstyled u-m0">

          {% for navItem in header.nav %}
            <li class="u-inlineBlock{% if loop.index > 1 %} u-ml20 u-ml20-md{% endif %}">
              <a href="{{ homeUrl }}/{{ navItem.slug }}/" class="u-inlineBlock{% if pageSlug == navItem.slug %} u-white{% endif %}">{{ navItem.name }}</a>
            </li>
          {% endfor %}

        </ul>
      </nav>
    {% endif %}
  </div>
</header>